@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: gray;
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
